Django==4.0.4
gunicorn==20.1.0
python-dotenv==0.20.0
psycopg2-binary==2.9.3  # need this for mac OS
requests==2.27.1

dj-database-url==0.5.0

django-lockdown==4.0.0


# qr code
qrcode==7.3.1
pillow==9.2.0

# dropbox
dropbox==11.33.0