{% extends "admin/change_list.html" %}
{% load humanize %}
{% load wedding_extras %}

{% block content_title %}
    <h1> Allergy Summary </h1>
{% endblock %}

{% block result_list %}

<style>
.bar-chart {
  display: flex;
  justify-content: space-around;
  height: 160px;
  padding-top: 60px;
  overflow: hidden;
}
.bar-chart .bar {
    flex: 100%;
    align-self: flex-end;
    margin-right: 2px;
    position: relative;
    background-color: #79aec8;
}
.bar-chart .bar:last-child {
    margin: 0;
}
.bar-chart .bar:hover {
    background-color: #417690;
}

.bar-chart .bar .bar-tooltip {
    position: relative;
    z-index: 999;
}
.bar-chart .bar .bar-tooltip {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
    opacity: 0;
}
.bar-chart .bar:hover .bar-tooltip {
    opacity: 1;
}
</style>
<div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Allergen</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">% of Total</a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.allergy }} </td>
        <td> {{ row.total }} </td>
        <td> {{ row.total | default:0 | percentof:total_allergies }} </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
<br>
<table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Allergen</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Note</a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for row in notes %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.allergy }} </td>
        <td> {{ row.note }} </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
<br>
<div class="bar-chart">
    {% for x in summary %}
        <div class="bar" style="height:{{x.total | divide:total_allergies | multiply:100}}%">
            <div class="bar-tooltip">
                {{x.total | default:0 | intcomma }}<br>
                {{x.allergy}}
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}

{% block pagination %}{% endblock %}