{% load i18n %}
{% load static %}
<section id="countdown" class="gla_section gla_image_bck gla_fixed gla_wht_txt" data-stellar-background-ratio="0.8" data-image="{% static "images/castle.jpeg" %}">

    <!-- Over -->
    <div class="gla_over" data-color="#1e1d2d" data-opacity="0.4"></div>

    <div class="container text-center">
        <p><img src="{% static "images/animations/savethedate_wh.gif" %}" data-bottom-top="@src:{% static "images/animations/savethedate_wh.gif" %}" height="150" alt=""></p>
        <h2>{% trans "June 21, 2023" %}</h2>
        <h3 class="gla_subtitle">Fingask Castle,<br>{% trans "Scotland" %}</h3>
        <div class="gla_countdown" data-year="2023" data-month="06" data-day="21"></div>
    </div>
    <!-- container end -->

</section>