{% load i18n %}
{% load static %}
<section id="faq" class="gla_section gla_image_bck gla_fixed">
    <div class="container">

        <div class="row" data-100-top="@class:row sticky_block"
             data--200-bottom="@class:row hide_sticky_block"
             data-bottom-top="@class:row nosticky_block">

            <!-- Accordion -->
            <h2 class="text-center">FAQ</h2>

            <div class="panel-group accord-chev" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Some important question 1?</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nam euismod lacinia ante quis feugiat.
                                Nunc interdum orci vitae quam dignissim, et sagittis mi viverra.
                                Donec efficitur diam sit amet hendrerit malesuada.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Some important question 2?</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nam euismod lacinia ante quis feugiat.
                                Nunc interdum orci vitae quam dignissim, et sagittis mi viverra.
                                Donec efficitur diam sit amet hendrerit malesuada.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Some important question 3?</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nam euismod lacinia ante quis feugiat.
                                Nunc interdum orci vitae quam dignissim, et sagittis mi viverra.
                                Donec efficitur diam sit amet hendrerit malesuada.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>