{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<!-- Page -->
<div class="gla_page" id="gla_page">


    <!-- To Top -->
    <a href="#gla_page" class="gla_top ti ti-angle-up gla_go"></a>
    
    <!-- Header -->
    <header>
    
        <nav class="gla_light_nav gla_transp_nav">

            <div class="container">
                
                {% block logo %}
                    {% include 'logo.html' %}
                {% endblock %}

                <!-- Menu -->
                <div class="gla_main_menu gla_main_menu_mobile">
                    
                    <div class="gla_main_menu_icon">
                        <i></i><i></i><i></i><i></i>
                        <b>{% trans "Menu" %}</b>
                        <b class="gla_main_menu_icon_b">{% trans "Back" %}</b>
                    </div>
                </div>
                
                <!-- Menu Content -->
                <div class="gla_main_menu_content gla_image_bck" data-color="rgba(0,0,0,0.9)" data-image="{% static "images/proposal.jpeg" %}">
                    <!-- Over -->
                    <div class="gla_over" data-color="#000" data-opacity="0.7"></div>
                </div>

                <div class="gla_main_menu_content_menu gla_wht_txt text-right">
                    <div class="container">
                        <ul>
                            <li class="gla_parent"><a href="#wedding-details">{% trans "Wedding Details" %}</a></li>
                            <li class="gla_parent"><a href="#engagement">{% trans "Engagement" %}</a></li>
                            <li class="gla_parent"><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                            <li class="gla-parent">
                                <a>
                                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% if LANGUAGE_CODE == 'de' %}
                                            <label>
                                                <input name="language" style="display: none" value="en">
                                                <input type="submit" value="🇺🇸" style="background: none; border: none">
                                            </label>
                                        {% else %}
                                            <label>
                                                <input name="language" style="display: none" value="de">
                                                <input type="submit" value="🇩🇪" style="background: none; border: none">
                                            </label>
                                        {% endif %}
                                    </form>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- container end -->
                </div>
                <!-- menu content end -->

                <!-- Top Menu -->
                <div class="gla_default_menu">
                    <ul>
                        <li class="gla_parent"><a href="#wedding-details">{% trans "Wedding Details" %}</a></li>
                        <li class="gla_parent"><a href="#engagement">{% trans "Engagement" %}</a></li>
                        <li class="gla_parent"><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                        <li class="gla-parent">
                            <a>
                                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% if LANGUAGE_CODE == 'de' %}
                                        <label>
                                            <input name="language" style="display: none" value="en">
                                            <input type="submit" value="🇺🇸" style="background: none; border: none">
                                        </label>
                                    {% else %}
                                        <label>
                                            <input name="language" style="display: none" value="de">
                                            <input type="submit" value="🇩🇪" style="background: none; border: none">
                                        </label>
                                    {% endif %}
                                </form>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Top Menu End -->
               
            </div>
            <!-- container end -->
        </nav>
        
    </header>
    <!-- Header End -->


    {% block hero %}
        {% include 'hero.html' %}
    {% endblock %}

    <!-- Content -->
    <section id="gla_content" class="gla_content">


<!-- section -->
        <section class="gla_section" id="wedding-details">

            <div class="container text-center">
                <p><img src="{% static "images/animations/flower6.gif" %}" data-bottom-top="@src:{% static "images/animations/flower6.gif" %}; opacity:1" class="gla_animated_flower" height="110" alt=""></p>
                <h2>Wedding Details</h2>
                <h3 class="gla_subtitle">When & Where</h3>
                {% block wedding-details-text %}
                    {% include 'wedding-details-text.html' %}
                {% endblock %}

                <div style="margin-top: 40px">
                    <a href="https://goo.gl/maps/1NFf5PSdiy48MBu59" >View Map</a>&nbsp;|
                    <a href="https://www.fingaskcastle.co.uk/" >Venue Website</a>
                </div>

            </div>
            <!-- container end -->

        </section>
        <!-- section end -->


        {% block countdown %}
            {% include 'countdown.html' %}
        {% endblock %}


        {% block engagement %}
            {% include 'engagement-large.html' %}
        {% endblock %}

        <hr>

        {% block faq %}
            {% include 'faq.html' with showRehearsal=False %}
        {% endblock %}


        {% block thank_you_footer %}
            {% include 'thank_you_footer.html' %}
        {% endblock %}


    </section>
    <!-- Content End -->

</div>
<!-- Page End -->

{% endblock content %}