{% load i18n %}
{% load static %}
<section class="gla_section gla_image_bck gla_fixed gla_wht_txt" data-stellar-background-ratio="0.8" data-image="{% static 'images/perthshire.jpeg' %}">

    <!-- Over -->
    <div class="gla_over" data-color="#1e1d2d" data-opacity="0.4"></div>

    <div class="container text-center">
        <p><img src="{% static "images/animations/thnyou_wh.gif" %}" alt="" height="200" data-bottom-top="@src:{% static "images/animations/thnyou_wh.gif" %}"></p>

    </div>
    <!-- container end -->

</section>