{% extends "base.html" %}
{% load static %}
{% block content %}
    <section id="thank" class="w-full h-screen bg-center bg-cover bg-proposal flex justify-center items-center">
        <div class="max-w-6xl p-8 justify-center bg-cover bg-gray-800 bg-opacity-75 rounded-full">
            <div class="text-center text-white">
                <p class="text-4xl m-2">Thank you, we have received your RSVP!</p>
                <p class="text-4xl m-2">Danke, wir haben deine RSVP erhalten!</p>
                <hr class="m-4">
                <a href="home">
                    Back to main page
                </a>
            </div>
        </div>
    </section>
{% endblock content %}