{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="gla_page" id="gla_page">

    <div class="gla_slider gla_image_bck  gla_wht_txt gla_fixed"  data-image="{% static "images/proposal.jpeg" %}"
         data-stellar-background-ratio="0.8" style="background-position: 25%">

        <!-- Over -->
        <div class="gla_over" data-color="#1e1d2d" data-opacity="0.35"></div>

        <div class="container">

            <div class="gla_slide_txt gla_slide_center_middle text-center">

                <div class="gla_slide_midtitle">
                    {% trans "Thank you, we have received your RSVP!" %}
                </div>

                <a href="/home">
                    {% trans "Back to main page" %}
                </a>
            </div>
            <!-- Slider Texts End -->

        </div>
    </div>
</div>
{% endblock content %}