{% extends "base.html" %}
{% load static %}
{% block content %}
    <section id="thank" class="w-full h-screen bg-center bg-cover bg-proposal snap-start flex justify-center items-center">
        <div class="max-w-6xl p-8 justify-center bg-cover bg-gray-700 bg-opacity-60 rounded-full">
            <div class="text-center text-white font-serif">
                <span class="text-4xl">Thank you, we have received your RSVP!</span><br>
                <span class="text-4xl">Danke, wir haben deine RSVP erhalten!</span><br>
                <a href="home" class="text-center text-white font-serif">
                    Back to home
                </a>
            </div>
        </div>
    </section>
{% endblock content %}